<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한이음 공모전 - 둘삼삼둘</title>
    <!-- my style -->
    <link rel="stylesheet" href="../static/layout.css">
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
    <!-- 상단 프로젝트 번호 -->
    <div class="project_num">22_HF383</div>

    <!-- 상단 메뉴바 -->
    <nav class="menu">
        <ul>
            <li><a href='./main.html'>Main</a></li>
            <li><a href='./advAI-ml.html'>적대적AI</a></li>
            <li><a href='./about.html'>About</a></li>
        </ul>
    </nav>

</body>
</html>