<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한이음 공모전 - 둘삼삼둘</title>
    <!-- my style -->
    <link rel="stylesheet" href="../static/layout.css">
    <link rel="stylesheet" href="../static/advAI.css">
    <link rel="stylesheet" href="../static/advAI-ml.css">
</head>
<body>
    <!-- 상단 프로젝트 번호 -->
    <div class="project_num">22_HF383</div>

    <header>
        <!-- 상단 메뉴바 -->
        <nav class="menu">
            <ul>
                <li><a href='./main.html'>Main</a></li>
                <li><a href='./advAI-ml.html'>적대적AI</a></li>
                <li><a href='./about.html'>About</a></li>
            </ul>
        </nav>
    </header>

    <section class="description">
        <!-- 해시태그 -->
        <nav class="tag">
            <ul>
                <li><a href="./advAI-ml.html"># 머신러닝</a></li>
                <li><a href="./advAI-adv_attack.html"># 적대적 공격</a></li>
                <li><a href="./advAI-adv_ex.html"># 적대적 예제</a></li>
            </ul>
        </nav>

        <!-- 태그 내용: 머신러닝 개념 -->
        <article class="tag-ml">
            <div class="ml-concept">
                머신러닝 개념 머신러닝 개념 머신러닝 개념 머신러닝 개념
                <br>
                머신러닝 개념 머신러닝 개념 머신러닝 개념 머신러닝 개념
                <br>
                머신러닝 개념 머신러닝 개념 머신러닝 개념 머신러닝 개념
            </div>
        </article>

        <!-- 본문: 적대적 공격 및 방어 -->
        <article class="adv_attack_defense">
            <!-- 적대적 공격 종류 -->
            <section class="adv_attack-type">
                <div class="title">적대적 공격 종류</div>
                <article class="FGSM">
                    <div class="subtitle">FGSM</div>
                    <div class="content">내용을 입력하세요</div>
                </article>
                <article class="PGD">
                    <div class="subtitle">PGD</div>
                    <div class="content">내용을 입력하세요</div>
                </article>
            </section>
            <!-- 적대적 방어가 필요한 이유 -->
            <section class="adv_defense-need">
                <div class="title">적대적 방어가 필요한 이유</div>
                <article class="need1">
                    <div class="need-icon"></div>
                    <div class="need-content">적대적 방어가 필요한 이유 1</div>
                </article>
                <article class="need2">
                    <div class="need-icon"></div>
                    <div class="need-content">적대적 방어가 필요한 이유 2</div>
                </article>
                <article class="need3">
                    <div class="need-icon"></div>
                    <div class="need-content">적대적 방어가 필요한 이유 3</div>
                </article>
            </section>
            <!-- 적대적 방어 개념 -->
            <section class="tag-adv_defense">
                <div class="title">적대적 방어</div>
                <div class="adv_defese-concept">
                    적대적방어 개념 적대적방어 개념 적대적방어 개념 적대적방어 개념
                    <br>
                    적대적방어 개념 적대적방어 개념 적대적방어 개념 적대적방어 개념
                    <br>
                    적대적방어 개념 적대적방어 개념 적대적방어 개념 적대적방어 개념
                </div>
            </section>
            <!-- 적대적 방어 종류 -->
            <section class="adv_defense-type">
                <article class="adv_train">
                    <div class="adv_defense-type-heading">Adversarial Training</div>
                    <div class="adv_defense-type-content">~~~</div>
                </article>
                <article class="magnet">
                    <div class="adv_defense-type-heading">MagNet</div>
                    <div class="adv_defense-type-content">~~~</div>
                </article>
                <article class="defense_gan">
                    <div class="adv_defense-type-heading">Defense-GAN</div>
                    <div class="adv_defense-type-content">~~~</div>
                </article>
                <article class="defpca">
                    <div class="adv_defense-type-heading">DefPCA</div>
                    <div class="adv_defense-type-content">~~~</div>
                </article>
            </section>
        </article>
    </section>
</body>
</html>